css body,
html {
    /* position: relative;  Ensure the body or a specific container has relative positioning */
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}

.fond {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: auto;
    z-index: -1;
}

.title-container {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.paragraph-container {
    position: absolute;
    top: 65px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    max-width: 25%;
    font-size: 12px;
}